
day_1/day_1_par1.exe
day_1/day_1_par1.ilk
day_1/day_1_par1.obj
day_1/day_1_par1.pdb
day_1/day_1_par2.exe
day_1/day_1_par2.ilk
day_1/day_1_par2.obj
day_1/day_1_par2.pdb
day_1/input.txt
day_1/vc140.pdb
day_2/day_2_part1.ilk
day_2/day_2_part1.obj
day_2/day_2_part1.pdb
day_2/input.txt
day_2/day_2_part1.exe
day_2/vc140.pdb
